@import "bootstrap"

#active-users
  position: relative
  #test
    position: fixed
  .circle
    transform: scaleX(0.00) scaleY(0.00)
    width: 20px
    height: 20px
    background: blue
    display: inline-block
    border-radius: 10px
  .active
    color: red

.channel
  h4
    display: inline-block
  .meta
    color: gray

@import "animation"